@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: local("Lato"),
    url("../fonts/lato/lato-300.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: local("Lato"),
    url("../fonts/lato/lato-400.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: local("Lato"),
    url("../fonts/lato/lato-700.woff") format("woff");
}

@font-face {
  font-family: "Pacifico";
  font-weight: 400;
  font-style: normal;
  src: local("Pacifico"),
    url("../fonts/pacifico/pacifico.woff") format("woff"),
    url("../fonts/pacifico/pacifico.woff2") format("woff2");
}
