$mob-width: 320px;
$mob-width-max: 500px;
$tablet-width: 501px;
$tablet-width-max: 720px;
$desktop-width-max: 800px;

$bg-color: #007ab6;
$bg-modal-color: rgba(0, 0, 0, 0.7);;
$controls-color: #6a77a8;
$settings-color: #006292;
$outline-green: #00ff00;
$bg-cell-color: rgba(255, 255, 255, 0.8);
$bg-button-color: rgba(255, 255, 255, 0.1);