.page-header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;

  height: 60px;
 
}

.page-header__settings-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;

  width: 30vw;
  height: 50px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}