.problem__table {
  // outline: 2px solid red;
  display: grid;

  width: 80%;
  min-width: 200px;
  margin: 0 auto;

  border-collapse: collapse;
}

.problem__answer,
.problem__question {
  outline: 1px solid black;
  display: grid;
  justify-items: center;
}

.problem__cell {
  width: 30%;
  @include padd(4px, 0, 4px, 0);

  @include font(1.7rem, 1.1, 700);
  text-align: center;

  background-color: $bg-cell-color;
  box-shadow: inset 0 0 2px 0 #000000;

  &--operation {
    outline: 1px solid green;
    width: 25%;
    height: 40px;
  }

  &--answer {
    width: 40%;
    max-width: 250px;
    // padding: 0;

    background-color: transparent;
    box-shadow: none;
  }
}

// .problem__answer-input {
//   display: block;
//   width: 100%;
//   height: 100%;
// }