.settings-list {
  position: absolute;
  top: 0;
  z-index: 1;

  width: 85%;
  height: 100vh;
  transform: translate(120%, 0);
  transition: transform 0.6s ease;

  background-color: antiquewhite;

  &--show {
    transform: translate(24%, 0);
    transition: transform 0.6s ease;
  }
}

@media (min-width: $tablet-width) {
  .settings-list {
    display: flex;

    width: 100%;
    height: auto;
    transform: translate(0, -110%);

    &--show {
      transform: translate(0, 0);
    }
  }
}