.settings-list {
  outline: 1px solid red;
  position: absolute;
  width: 85%;

  transform: translateX(120%);
  transition: transform 0.4s ease;

  &--show {
    // display: block;
    // position: absolute;

    transform: translateX(24%);
    transition: transform 0.4s ease;
  }
}